In [ ]:
import pandas as pd

In [51]:
df=pd.read_csv('payment_information.csv')

In [52]:
df.head()

    client_id payment_date  amount_paid payment_method
0  6292156167    9/16/2019        447.0  Bank Transfer
1  7462725203    5/21/2018        379.7  Bank Transfer
2  4698004907    9/11/2021        435.1          Check
3  3510240337    12/7/2020        413.1          Check
4  7501599785     3/4/2019         61.1  Bank Transfer

In [53]:
df['payment_date']=pd.to_datetime(df['payment_date'])

In [54]:
df['year']=df['payment_date'].dt.year

In [ ]:
#used groupby for year and payment method 
df.groupby(['year','payment_method'])['amount_paid'].median()

year  payment_method
2018  Bank Transfer     281.65
      Check             216.60
      Credit Card       229.15
2019  Bank Transfer     184.20
      Check             410.20
      Credit Card       401.90
2020  Bank Transfer     225.10
      Check             413.10
      Credit Card       285.25
2021  Bank Transfer     255.30
      Check             435.10
      Credit Card       208.70
2022  Bank Transfer     196.50
      Check             275.50
      Credit Card       326.20
Name: amount_paid, dtype: float64