In [ ]:
import pandas as pd

In [41]:
df=pd.read_csv('industry_client_details.csv')
df2=pd.read_csv('subscription_information.csv')

In [42]:
df.head()

    client_id company_size         industry   location
0  4280387012        Large  Finance Lending     Mumbai
1  2095513148        Small  Finance Lending    Chennai
2  7225516707       Medium  Finance Lending  New Delhi
3  8093537819        Large      Block Chain     Mumbai
4  4387541014       Medium      Hyper Local   Banglore

In [43]:
df2.head()

    client_id subscription_type  start_date    end_date  renewed
0  1131383004            Yearly  2020-11-11  2021-11-11    False
1  4309371709           Monthly  2021-05-24  2021-06-23     True
2  3183675157            Yearly  2021-12-25  2022-12-25     True
3  5371694837           Monthly  2020-03-14  2020-04-13     True
4  5157113076           Monthly  2019-11-07  2019-12-07    False

In [44]:
def func(id):
    row=df[df['client_id']==id]
    return row['industry'].values[0] 
df2['industry']=df2['client_id'].apply(func)

In [45]:
df2.head()

,client_id,subscription_type,start_date,end_date,renewed,industry
0,1131383004,Yearly,2020-11-11,2021-11-11,False,Finance Lending
1,4309371709,Monthly,2021-05-24,2021-06-23,True,Hyper Local
2,3183675157,Yearly,2021-12-25,2022-12-25,True,Gaming
3,5371694837,Monthly,2020-03-14,2020-04-13,True,AI
4,5157113076,Monthly,2019-11-07,2019-12-07,False,Gaming

In [46]:
totalEach=df2.groupby('industry').size()

In [47]:
trueEach=df2[df2['renewed']==True].groupby('industry').size()

In [48]:
totalEach

industry
AI                 11
Block Chain        25
Finance Lending    22
Gaming             22
Hyper Local        20
dtype: int64

In [49]:
trueEach

industry
AI                  7
Block Chain        11
Finance Lending    12
Gaming             16
Hyper Local         9
dtype: int64

In [50]:
percentageEach=(trueEach/totalEach)*100

In [51]:
percentageEach

industry
AI                 63.636364
Block Chain        44.000000
Finance Lending    54.545455
Gaming             72.727273
Hyper Local        45.000000
dtype: float64

In [52]:
#Gaming has the most renewed
percentageEach.sort_values(ascending=False)

industry
Gaming             72.727273
AI                 63.636364
Finance Lending    54.545455
Hyper Local        45.000000
Block Chain        44.000000
dtype: float64