In [ ]:
import pandas as pd

In [6]:
df=pd.read_csv('industry_client_details.csv')

In [7]:
df.head()

    client_id company_size         industry   location
0  4280387012        Large  Finance Lending     Mumbai
1  2095513148        Small  Finance Lending    Chennai
2  7225516707       Medium  Finance Lending  New Delhi
3  8093537819        Large      Block Chain     Mumbai
4  4387541014       Medium      Hyper Local   Banglore

In [8]:
df['industry'].value_counts()

industry
Block Chain        25
Finance Lending    22
Gaming             22
Hyper Local        20
AI                 11
Name: count, dtype: int64